@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans TC', sans-serif;
}

* { box-sizing: border-box; }

.leaflet-control-layers {
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1rem;
    padding: .25rem .8rem;
}

.leaflet-control-layers label {
    margin-bottom: .25rem;
}

#mapid {
    height: 100vh;
}


.card--mobile {
    position: fixed;
    z-index: 5010;
    visibility: visible;
    opacity: 1;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    /* border-bottom-left-radius: 8px !important;
    border-bottom-right-radius: 8px !important; */
    line-height: 1.8rem;
}


.hide {
    display: none;
}


@media only screen and (max-width: 708px) {
    .card--mobile {
        top: 37.5%;
        height: calc(62.5% - 49px);
        left: 0;
        right: 0;
        -webkit-transition: all .2s ease-in-out,top .2s ease-out; 
        transition: all .2s ease-in-out,top .2s ease-out;
    }

    .full-height {
        height: 62.5%;
    }

    .card--expanded:not(.card--hidden) {
        top: 0%;
        height: calc(100% - 50px);
    }

    .card--expanded:not(.card--hidden).full-height {
        top: 0%;
        height: 100%;
    }

    .card--hidden {
        top: 100%;
        -webkit-transition: all .2s ease-in-out,top .2s ease-out; 
        transition: all .2s ease-in-out,top .2s ease-out;
    }

    .card-footer {
        height: 50px;
        background-color: #F8F8F8;
        width: 100%;
        position: fixed;
        bottom:0%;
        z-index: 5020;
    }

    .card #cardName {
        display: block;
        margin: 0.6rem 0 0.6rem 1.25rem;
        font-weight: 500;
        font-size: 1.3rem

    }
}


@media only screen and (min-width: 708px) and (max-width: 1024px) {
    .card--mobile {
        visibility: visible;
        width: 42%;
        max-width: 500px;
        height: calc(80% - 49px);
        top: 100px;
        left: 10px;
        -webkit-transition: visibility 0s 0.33s, opacity 0.33s linear;
        transition: visibility 0s 0.33s, opacity 0.33s linear;
        font-size: 90%;
    }

    .card #cardName {
        display: block;
        margin: 0.3rem 0 0.3rem 1.25rem;
        font-weight: 500;
        font-size: 1.2rem
    }

    .card--expanded:not(.card--hidden) {
        top: 100px;
    }

    .card--hidden {
        visibility: hidden;
        -webkit-transition: visibility 0s 0.33s, opacity 0.33s linear;
        transition: visibility 0s 0.33s, opacity 0.33s linear;
    }

    .card-footer {
        height: 50px;
        background-color: rgb(248, 248, 248);
        bottom:0%;
        z-index: 5020;
    }
}


@media only screen and (min-width: 1024px) {
    .card--mobile {
        visibility: visible;
        width: 35%;
        max-width: 500px;
        height: calc(80% - 49px);
        top: 100px;
        left: 10px;
        -webkit-transition: visibility 0s 0.33s, opacity 0.33s linear;
        transition: visibility 0s 0.33s, opacity 0.33s linear;
        
    }

    .card--expanded:not(.card--hidden) {
        top: 100px;
    }

    .card--hidden {
        visibility: hidden;
        -webkit-transition: visibility 0s 0.33s, opacity 0.33s linear;
        transition: visibility 0s 0.33s, opacity 0.33s linear;
    }

    .card-footer {
        height: 50px;
        background-color: rgb(248, 248, 248);
        bottom:0%;
        z-index: 5020;
    }

    .card #cardName {
        display: block;
        margin: 0.3rem 0 0.3rem 1.25rem;
        font-weight: 500;
        font-size: 1.2rem
    }
}



.card-header {
    padding: 0.5rem 0;
}

.card .close {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    cursor: pointer;
}

.card #close-card {
    padding: 0 1.2rem 0 0rem; 
}

.card #nextBtn {
    padding: 0 0.6rem 0 0.0rem; 
}

.card #prevBtn {
    padding: 0 0.6rem 0 0.0rem; 
}
/* .left {
    position: absolute;
    top: 0.75rem;
    right: 2rem;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .8;
    cursor: pointer;
} */

.card-body {
    overflow-y: auto;
    background: url(../images/hk01watermark.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 !important;
}


.card #cardType {
    margin: 0 0 0 1.2rem;
    padding: 0.8px 12px;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 300;
    display: inline-block;
    color: black;
}

.card .green {
    background: rgb(117, 234, 117);
}

.card .blue {
    background: rgb(138, 190, 245);
}

.card .red {
    background: rgb(250, 133, 112);
}



.card .fas {
    margin-right: 1rem;
}

.card #cardDetail {
    margin-left: 2rem;
    margin-bottom: 0;
}

.card .remarks {
    font-size: 90%;
    margin-top:5px;
}


.caption {
    display: inline-block;
    margin: 0.2rem 0.5rem 0;
    font-size: 0.9rem;
    line-height: 1rem;
}

.credit {
    display: inline-block;
    font-size: 0.9rem;
    color: #666;
}

#prev {
    position: absolute;
    left: 2%;
}

#next {
    position: absolute;
    right: 2%;
}

.carousel-cell {
    width: 100%; /* full width */
    /* height: 200px; height of carousel */
  }

.carousel-cell img {
    display: block;
    width: 100%;
}

.is-fullscreen {
    
}

.flickity-prev-next-button {
    width: 30px !important;
    height: 30px !important;
    border-radius: 5px !important;
    background: #333 !important;
  }

.flickity-prev-next-button:hover {
    background: #F90 !important;
}

.flickity-prev-next-button .arrow {
    fill: white !important;
  }

/* smaller, dark, rounded square */
.flickity-button {
    background: #333;
  }
  .flickity-button:hover {
    background: #F90;
  }
